@{
    var Controller = Html.GetControllerName().ToSentence();
    var Action = Html.GetActionName().ToSentence();
    ViewBag.Title = string.Format("{0} - {1}", Controller, Action);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/Content/">
    <meta charset="utf-8" />
    <title>POS | @ViewBag.Title</title>
    <meta name="description" content="Toolbar subheader example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <!--end::Fonts -->
    <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->
    <link href="Site.css" rel="stylesheet" />
    <link rel="shortcut icon" href="assets/media/logos/logo-4-sm.png" />
    @RenderSection("styles", false)
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/App/StautsColors.js"></script>
</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

    <script src="~/Scripts/App/AsideToggler.js"></script>

    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="/"><img alt="Logo" src="assets/media/logos/logo-light.png" /></a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toggler  kt-hidden" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
        </div>
    </div>
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
                @Html.Partial("_Aside")
                @Html.Partial("_AsideMenu2")
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">
                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        @*@Html.Partial("_HeaderMenu")*@
                    </div>
                    <div class="kt-header__topbar">
                        @*@Html.Partial("_Search")*@
                        @*@Html.Partial("_Notifications")*@
                        @*@Html.Partial("_LanguageBar")*@
                        @Html.Partial("_UserBar")
                    </div>
                </div>

                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                    <!-- begin:: Content Head -->
                    <div class="kt-subheader  kt-grid__item" id="kt_subheader">
                        <div class="kt-container  kt-container--fluid ">
                            <div class="kt-subheader__main">
                                <span class="kt-subheader__separator kt-hidden"></span>
                                <div class="kt-subheader__breadcrumbs">
                                    <a class="kt-subheader__breadcrumbs-home"><i class="flaticon-home-2"></i></a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span><a class="kt-subheader__breadcrumbs-link">@Controller</a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span><a class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">@Action</a>
                                </div>
                                <span class="kt-subheader__desc"></span>
                                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                                @RenderSection("ActionLink", false)
                            </div>

                            <div class="kt-subheader__toolbar">
                                <div class="kt-subheader__wrapper">
                                    @RenderSection("Toolbar", false)
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end:: Content Head -->
                    <!-- begin:: Content -->
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                        @RenderBody()
                    </div>
                    <!-- end:: Content -->
                </div>

                <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-footer__copyright">
                            @System.DateTime.Now.Year
                            &nbsp;&copy;&nbsp;
                            <a href="https://goxclusives.com/" target="_blank" class="kt-link">Xclusives</a>
                        </div>
                        <div class="kt-footer__menu kt-hidden">
                            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">About</a>
                            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
                            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script src="~/Scripts/app/KTAppOptions.js"></script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="assets/js/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <script src="assets/plugins/custom/datatables/datatables.bundle.js" type="text/javascript"></script>

    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script src="~/Scripts/App/Configuration.js"></script>
    <!-- end::Global Config -->
    @RenderSection("scripts", false)
</body>
</html>