@using POS_Demo.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Log in";
}

<div class="kt-login__signin">

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "kt-form", role = "form" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="input-group">
            <div class="col-lg-12 col-xl-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "User Name" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="input-group">
            <div class="col-lg-12 col-xl-12">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row kt-login__extra">
            <div class="col">
                <label class="kt-checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe) Remember me
                    <span></span>
                </label>
            </div>
            <div class="col kt-align-right  ">
                <!--<a href="@Url.Action("ForgotPassword","Account")" id="kt_login_forgot" class="kt-login__link">Forget Password ?</a>-->
                <a href="@Url.Action("Register", "Account")" id="kt_login_forgot" class="kt-login__link">Craete New Account</a>
            </div>
        </div>

        <div class="kt-login__actions">
            <input type="submit" value="Log in" class="btn btn-brand btn-elevate kt-login__btn-primary" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}