@model IEnumerable<POS_Demo.DataModels.Units_Details>

@{
    ViewBag.Title = "Invoices";
}

@section styles{}
@section ActionLink{}
@section Toolbar {}


<!--begin::Portlet-->
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="socicon-coderwall"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @ViewBag.Title
            </h3>
        </div>
        <!-------------------------------------------------------->
        @Html.Partial("_Control__New_Record_btn")
        <!-------------------------------------------------------->
    </div>
    <div class="kt-portlet__body">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <!--begin::body-->
                <!-------------------------------------------------------->
                <table class="table table-hover" id="data_table__Developer">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayNameFor(model => model.SaleDate)</th>
                            <th>@Html.DisplayNameFor(model => model.Developer.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Sales_Person.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Unit_NO)</th>
                            <th>@Html.DisplayNameFor(model => model.Unit_Volume)</th>
                            <th>@Html.DisplayNameFor(model => model.Deal_Slab)</th>
                            <th>@Html.DisplayNameFor(model => model.Commission_Amount)</th>
                            <th>@Html.DisplayNameFor(model => model.Commission_Deduction)</th>
                            <th>@Html.DisplayNameFor(model => model.Total_Commission)</th>
                            <th>Deal Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.SaleDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.Developer.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Sales_Person.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Unit_NO)</td>
                                <td>@Html.DisplayFor(modelItem => item.Unit_Volume)</td>
                                <td>@Html.DisplayFor(modelItem => item.Deal_Slab)</td>
                                <td>@Html.DisplayFor(modelItem => item.Commission_Amount)</td>
                                <td>@Html.DisplayFor(modelItem => item.Commission_Deduction)</td>
                                <td>@Html.DisplayFor(modelItem => item.Total_Commission)</td>
                                <td>@Html.DisplayFor(modelItem => item.Units_Status.LastOrDefault().Deal_Status.Name)</td>
                                <td>@Html.Partial("_Dropdown_Menu", item.Id)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-------------------------------------------------------->
                <!--end::body-->
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->

@section scripts{

}
