@model POS_Demo.DataModels.Deal_Status

@{
    ViewBag.Title = "Create";
}


@section styles{}
@section ActionLink{}
@section Toolbar {}

<!--begin::Portlet-->
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon2-soft-icons"></i>
            </span>
            <h3 class="kt-portlet__head-title">@ViewBag.Title</h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body container">
                <!--begin::body-->
                <!-------------------------------------------------------->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name)
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description)
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    @Html.Partial("_Form_Actions")
                }
                <!-------------------------------------------------------->
                <!--end::body-->
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
