@model IEnumerable<POS_Demo.DataModels.Sales_Person>

@{
    ViewBag.Title = "Sales";
}

@section styles{}
@section ActionLink{}
@section Toolbar {}


<!--begin::Portlet-->
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="socicon-coderwall"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @ViewBag.Title
            </h3>
        </div>
        <!-------------------------------------------------------->
        @Html.Partial("_Control__New_Record_btn")
        <!-------------------------------------------------------->
    </div>
    <div class="kt-portlet__body">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <!--begin::body-->
                <!-------------------------------------------------------->
                <table class="table table-hover" id="data_table__Sales_Person">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.Id)</td>
                                <td>@Html.DisplayFor(model => item.Name)</td>
                                <td>@Html.DisplayFor(model => item.Description)</td>
                                <td>@Html.Partial("_Dropdown_Menu", item.Id)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-------------------------------------------------------->
                <!--end::body-->
            </div>
        </div>
    </div>
</div>
<!--end::Portlet-->

@section scripts{}