@model POS_Demo.DataModels.Units_Details

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Units_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit_Volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit_Volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deal_Slab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deal_Slab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commission_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commission_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commission_Deduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commission_Deduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Commission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Commission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Developer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sales_Person.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales_Person.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
